* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    /* set minimum width to screen size */

    /* width: 100vw; */
    /* min-width: 420px; */
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

img {
    width: 100px;
    height: 100px;
    margin: 20px 0;
}

.intro,
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 420px; */
    max-width: 100vw;
}

.intro {
    background-image: url("./images/intro-bg.png");
}

form {
    width: 100%;
    max-width: 100vw;
    /* max-width: 420px; */
    display: flex;
    flex-direction: column;
}